<h1 id="on-the-grassland-reading-online">On The Grassland (Reading Online)</h1>
<blockquote>
<p>On The Grassland is a continuing story from the end of JinYong’s novel The Heavenly Sword and Dragon Saber</p>
</blockquote>
<p>Copyright © 2019 by Pongsak Suvanpong All Rights Reserved (psksvp@gmail.com)</p>
<p><img src="media/cover.png" height="300" /></p>
<h2 id="big-screen-device-version."><a href="mpt.html">Big Screen Device Version</a>.</h2>
<p>This version is suitable for device with large screen like your laptop/desktop or tablet.</p>
<pre><code>      ____
     ||&quot;&quot;||
     ||__||
     [ -=.]`)
     ====== 0   </code></pre>
<h2 id="small-screen-device-version"><a href="spt.html">Small Screen Device Version</a></h2>
<p>This version is suitable for device with small screen.</p>
<pre><code>   ___i
  |---|    
  |[_]|    
  |:::|    
  |:::|    
  `\   \   
    \_=_\ 
    
    </code></pre>
<p><em>ascii art by jgs</em></p>
